<!--
<div>{{ 'HELLO' | translate }}</div>
@for (product of products();track product.id) {
<div>
  <img [src]="product.image" alt="cover_img" />
  <div>
    <h4>{{ product.title }}</h4>
    <hr />
    <p>{{ product.description }}</p>
  </div>
  <div class="k-hstack">
    <span>Price {{ product.price | currency }}</span>
  </div>
</div>
} @empty {
<h2>No products! 😌</h2>
}
-->
<!--<div [safeContent]="{type: 'html', content: content}"></div>-->

<!--<a (click)="test()" [href]="'http://localhost:4200/' | safe: 'url'">Link</a>-->
<router-outlet></router-outlet>
